body{
            margin: 0;
            padding: 0;
            background-color: #1a1a1a;
            color: #fff;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            width: 500px;
            background-color: rgb(175, 222, 196);
            color:#1a1a1a;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 3px 3px 10px #675e5e;
        }
        .card:hover{
            box-shadow: 3px 3px 10px #9f9191;
        }
        h2{
            text-align: center;
            font-weight: bolder;
            font-size: x-large;
        }
        form{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
        }
        input{
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
        }
        button{
            padding: 5px;
            background-color: rgb(43, 36, 133);
            color:whitesmoke;
            font-weight: bolder;
            border-radius: 3px;
            width: 50%;
            border: 0;
            margin-bottom: 5px;
            
        }
        button:hover{
            background-color: blue;
        }
        a{
            text-decoration: none;
            font-weight: 20px;
        }
        #name-container{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            width: 103%;
            gap: 8px;
        }
        
        